/* ----------------------------------- post_content ----------------------------------- */	
	
div.post_content {
	list-style: none;
   text-overflow:ellipsis;
   overflow: hidden;
   max-height: 800px;
   margin: 0;
	padding: 0;
	width: 670px;
}
